<div class="container center">

  <div class="dashboard z-depth-3 deep-orange darken-1">

    <div class="controller">
      <div class="set-break">
        break
      </div>
      <div class="set-break increment">
        <div class="increment">
          <i class="no-select small material-icons" (click)="decreaseBreak()">
            keyboard_arrow_down
          </i>
        </div>
        <div class="increment"> {{ myBreak }} </div>
        <div class="increment">
          <i class="no-select small material-icons" (click)="increaseBreak()">
            keyboard_arrow_up
          </i>
        </div>
      </div>
    </div>

    <div class="display">

      {{currentTime | formatTimer}}

    </div>

    <div class="controller-row">
      <i class="no-select small material-icons" *ngIf="myStart" (click)="myPause=!myPause; myStart=!myStart; startSession()">
        play_arrow
      </i>
      <i class="no-select small material-icons" *ngIf="myPause" (click)="myStart=!myStart; myPause=!myPause; pauseSession()">
        pause
      </i>
      <i class="no-select small material-icons" (click)="stopSession()">
        stop
      </i>
    </div>

    <div class="controller">
      <div class="set-session increment">
        <div class="increment">
          <i class="no-select small material-icons" (click)="decreaseSession()">
            keyboard_arrow_down
          </i>
        </div>
        <div class="increment"> {{ mySession }} </div>
        <div class="increment">
          <i class="no-select small material-icons" (click)="increaseSession()">
            keyboard_arrow_up
          </i>
        </div>
      </div>
      <div class="set-session">
        session
      </div>
    </div>

  </div>


</div>
