.dashboard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 10px solid green;
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
}

.display {
  font-size: 64px;
  font-weight: 200;
  color: white;
}

.controller {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 200;
}

.controller-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-weight: 200;
}

.increment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.set-break {
  font-size: 20px;
}

.set-session {
  font-size: 20px;
}

.no-select {
  outline-style: none;
  /* user cannot select item */
  cursor: default;
  /* cursor does not turn into "selectable" cursor */
}
